<!DOCTYPE HTML>
<html>
	<head>
		<title>Vasu Verma</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="static/assets/js/html5shiv.js"></script>
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="static/assets/css/ie9.css" />
		<link rel="stylesheet" href="static/assets/css/ie8.css" />
		<link rel="shortcut icon" href="static/images/avatar.png" type="image/x-icon">
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">
			<div id="wrapper">
					<section id="main">
						<header>
							<span class="avatar"><img src="static/images/avatar.png" alt="Avatar" style="width:200px" /></span>
							<h1><strong>Vasu Verma</strong></h1>
							<p><strong>Full Stack Web Developer</strong></p>
						</header>
						<footer>
							<ul class="icons">
								<li><a href="https://twitter.com/VasuVerma03" class="fa-twitter">Twitter</a></li>
								<li><a href="https://www.instagram.com/vasuverma8/" class="fa-instagram">Instagram</a></li>
								<li><a href="https://www.facebook.com/vasu.verma.986" class="fa-facebook">Facebook</a></li>
							</ul>
						</footer>
					</section>
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Vasu Verma</li>
							<li>Contact: <a href="https://wa.me/message/CU5K2ESUHO4RE1">Whatsapp</a></li>
						</ul>
					</footer>
			</div>
			<script src="static/assets/js/respond.min.js"></script>
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>
	</body>
</html>